@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

div.langage{
    margin-top: 150px;
    display: flex;
}

div#nom{
    text-align: right;
    width: 50%;
}
div#icon{
    width: 50%;
}

p.langage{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    color: white;
}

p.icon{
    margin: 0;
    font-size: 50px;
    color: #ff7a7a;
}
i{
    margin-top: 10px;
    margin-left: 16px;
}

@media screen and (max-width: 900px) {
    p.langage{
        font-size: 20px;
    }
    p.icon{
        font-size: 20px;
    }
    i{
        margin-top: 4.2px;
        margin-left: 10px;
    }

}